{% extends "layouts.html" %}
{% block body %}
    <div class="jumbotron text-center">
    <h1 class="display-4">ARTICLES PAGE</h1>
    <p class="lead">This Application is build using by python and Flask Framework</p>
    <hr class="my-4">
        </tbody>
      </table>
      <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                            <th>AUTHOR</th>
                            <th>DATE</th>
                            <th>EDIT</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                            <th>AUTHOR</th>
                            <th>DATE</th>
                            <th>EDIT</th>
                        </tr>
                    </tfoot>
                    <tbody>
                      {% for article in articles %}
                        <tr>
                          <th scope="row">{{ article[0]}}</th>
                          <td><a href="/article/{{article[0]}}">{{ article[1] }}</a></td>
                          <td>{{ article[2] }}</td>
                          <td>{{ article[3] }}</td>
                          <td>{{ article[4] }}</td>
                          <td>
                          <a href="{{ article[0]}}/edit"><button type="button" class="btn btn-warning">Edit</button><a>
                          <form action="/delete/{{article[0]}}" style="margin: 10%;" method="POST" onsubmit="return confirm('정말 삭제하시겠습니까')">
                          <button type="submit" class="btn btn-danger">DEL</button>
                          </form>
                          </td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
    <a class="btn btn-warning btn-lg" href="/add_articles" role="button">글쓰기</a>
  </div>
{% endblock %}