{% extends "layouts.html" %}
{% block body %}
<h1 class="display-4">ABOUT PAGE</h1>
<p class="lead">This Application is build using by python and Flask Framework</p>
<hr class="my-4">
<form 
action="/edit" 
method="post" 
onsubmit="return confirm('정말 수정하시겠습니까?')">

<input type="text" name="title" required>
<input type="text" name="desc" required>
<input type="text" name="author" disabled>
<input type="submit" value="수정하기">

</form>

<a class="btn btn-warning btn-lg" href="/articles.html" role="button">돌아가기</a>
{% endblock %}