{% extends "layouts.html"%}
<!-- 진자 엔진의 import방법 = extends -->
{% block body %}
<form action="/login" method="POST">
    ​<div class="form-group">
        <label>ID</label>
        <input type="email" name="email" class="form-control" placeholder="ID">
    </div>
    <div class="form-group">
        <label>PW</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <input class="btn btn-dark btn-dark" type="submit" value="Login">
</form>
<h1 class="display-4">MAIN HOME PAGE</h1>
<p class="lead">This Application is build using by python and Flask Framework</p>
<hr class="my-4">
<a class="btn btn-warning btn-dark" href="/" role="button">회원가입</a>
{% endblock %}